<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner d-flex align-items-center" style="height: 80vh">
        <div class="carousel-item active">
            <img id="header-img1" src="../images/header-2.jpeg" class="d-block" alt="">
        </div>
        <div class="carousel-item">
            <img id="header-img2" src="../images/header-1.jpeg" class="d-block" alt="...">
        </div>
        <div class="carousel-item">
            <img id="header-img3" src="../images/header-3.jpeg" class="d-block" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<main>
    <div class="container my-4">
        <div class="row py-4 px-2 bg-wrap justify-content-between">

            <div class="col-6">
                <a href="/alcohol">
                    <h3 class="text-white text-center">Alcohol</h3>
                    <img src="" alt="">
                </a>
            </div>


            <div class="col-6">
                <h3 class="text-white text-center">Non Alcohol</h3>
            </div>

        </div>
    </div>
    <div class="container my-4">
        <div class="row py-4 px-2 bg-wrap justify-content-between">
            <h3 class="text-white text-center mb-4 title">Popular Ingredients</h3>

            <div class="col">
                <h3 class="text-white text-center">Rum</h3>
                <img src="" alt="">
            </div>

            <div class="col">
                <h3 class="text-white text-center">Vodka</h3>
            </div>

            <div class="col">
                <h3 class="text-white text-center">Gin</h3>
                <img src="" alt="">
            </div>

            <div class="col">
                <h3 class="text-white text-center">Tequila</h3>
            </div>

        </div>
    </div>

</main>