/* color: #D705F2;
color: #A904BF;
color: #660273;
color: #380140;
color: #220126;
 */

img {
  width: 100%;
}

body {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-custom {
  background-color: #380140;
}

a {
  text-decoration: none;
}

#error {
  background-color: rgb(255, 188, 188);
  font-size: .9em;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

#header-img1 {
  height: 100vh;
  object-fit: cover;
}

#header-img2 {
  height: 100vh;
  object-fit: cover;
}

#header-img3 {
  height: 100vh;
  object-fit: cover;
}

.bg-wrap {
  background-color: #220126;
  border-radius: .8em;
}

.title {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.drinks-img {
  border-radius: .8em;
  overflow: hidden;
}

.dropdown-menu {
  left: unset !important;
  right: 0;
}

.nav-link {
  padding-right: 0 !important;
}