/* color: #D705F2;
color: #A904BF;
color: #660273;
color: #380140;
color: #220126;
 */



body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}